.header {
    height: 7vh;
    .logo {
        float: left;
        width: 25px;
        height: 25px;
        margin: 16px 24px 16px 0;
    
        img {
            height: 100%;
            width: 100%;
        }
    }
}

